[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "agentops"
version = "0.3.11"
authors = [
  { name="Alex Reibman", email="areibman@gmail.com" },
  { name="Shawn Qiu", email="siyangqiu@gmail.com" },
  { name="Braelyn Boynton", email="bboynton97@gmail.com" },
  { name="Howard Gil", email="howardbgil@gmail.com" }
]
description = "Observability and DevTool Platform for AI Agents"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests==2.31.0",
    "psutil==5.9.8",
    "packaging==23.2",
    "termcolor==2.4.0",
    "PyYAML==6.0.1"
]
[project.optional-dependencies]
dev = [
    "pytest==7.4.0",
    "requests_mock==1.11.0",
    "tach~=0.9",
]
langchain = [
    "langchain==0.2.14"
]

[project.urls]
Homepage = "https://github.com/AgentOps-AI/agentops"
Issues = "https://github.com/AgentOps-AI/agentops/issues"

[tool.autopep8]
max_line_length = 120

[project.scripts]
agentops = "agentops.cli:main"
