.unminted-cards {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-row {
  width: 87%;
	display: flex;
	flex-direction: row;
	gap: 3%;
  justify-content: space-between;
  margin: 0% 0% 1% 0%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  padding: 0% 3%;
  color: #000;
  background-color: #fff;
}

.intro-row:is(.dark *) {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(44, 44, 44);
}

.intro-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.intro-icon-img {
  width: 70%;
  height: auto;
  border-radius: 6px;
}

.intro-card-text {
  font-size: 1.0rem;
  flex: 0 0 88%;
  text-align: left;
}

.trailing {
  font-weight: bold;
  flex: 0 0 70%;
  opacity: 0;
}

.trailing.loaded {
  animation: loaded 0.8s forwards;
}

.trailing.preloaded {
  opacity: 1 !important;
}

.trailing-img {
  opacity: 0;
  width: 40%;
  height: auto;
}

.trailing-img.loaded {
  animation: loaded 0.8s forwards;
}

.trailing-img.preloaded {
  opacity: 1 !important;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes loaded {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

.resolved-stamp {
  display: block;
  opacity: 0;
  width: 40%;
  height: auto;
  transform: translate(100%, -105%) rotate(60deg);
  pointer-events: none;
  margin-bottom: -42%;
  z-index: 100;
}

@keyframes scrolled {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resolved-stamp.scrolled {
  animation: scrolled 0.6s forwards;
}

.animated-code {
  /* opacity: 0; */
  opacity: 1;
}

.animated-code.scrolled {
  animation: scrolled 0.6s forwards;
}

.animated-code.preloaded {
  opacity: 1;
}