.terminal-border {
  border: 4px solid #D1E6ED;
  background-color: #D1E6ED;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  padding: 0;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.15);
}

.terminal-container {
  border: 8px solid black;
  border-radius: 12px;
  background-color: #262626;
  height: 16em;
  font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0em 0 0 1em;
  font-size: 1.2em;
  color: white;
}

#terminal-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0;
}

#terminal-content > * {
  margin: 0;
  padding: 0;
}

.cursor-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

#inline-code-img {
  width: 1.2em;
  height: auto;
  opacity: 0;
  display: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

#inline-code-img.on {
  opacity: 1;
  display: flex;
}

.empty-space {
  opacity: 0;
  display: flex;
}

#toggle-empty-space {
  opacity: 0;
  display: flex;
}

.off {
  display: none !important;
}

#barely-space {
  opacity: 0;
  font-size: 0.5em;
  display: flex;
}


.unminted-cards {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-row {
  width: 87%;
	display: flex;
	flex-direction: row;
	gap: 3%;
  justify-content: space-between;
  margin: 0% 0% 1% 0%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  padding: 0% 3%;
  color: #000;
  background-color: #fff;
}

.intro-row:is(.dark *) {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgb(44, 44, 44);
}

.intro-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.intro-icon-img {
  width: 70%;
  height: auto;
  border-radius: 6px;
}

.intro-card-text {
  font-size: 1.0rem;
  flex: 0 0 88%;
  text-align: left;
}

.trailing {
  font-weight: bold;
  flex: 0 0 70%;
  opacity: 0;
}

.trailing.loaded {
  animation: loaded 0.8s forwards;
}

.trailing.preloaded {
  opacity: 1 !important;
}

.trailing-img {
  opacity: 0;
  width: 40%;
  height: auto;
}

.trailing-img.loaded {
  animation: loaded 0.8s forwards;
}

.trailing-img.preloaded {
  opacity: 1 !important;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes loaded {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

.resolved-stamp {
  display: block;
  opacity: 0;
  width: 40%;
  height: auto;
  transform: translate(100%, -105%) rotate(60deg);
  pointer-events: none;
  margin-bottom: -42%;
  z-index: 100;
}

@keyframes scrolled {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resolved-stamp.scrolled {
  animation: scrolled 0.6s forwards;
}

.animated-code {
  /* opacity: 0; */
  opacity: 1;
}

.animated-code.scrolled {
  animation: scrolled 0.6s forwards;
}

.animated-code.preloaded {
  opacity: 1;
}