/* Terminal hero animation styling */

.terminal-border {
  border: 4px solid #D1E6ED;
  background-color: #D1E6ED;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  padding: 0;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.15);
}

.terminal-container {
  border: 8px solid black;
  border-radius: 12px;
  background-color: #262626;
  height: 16em;
  font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0em 0 0 1em;
  font-size: 1.2em;
  color: white;
}

#terminal-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0;
}

#terminal-content > * {
  margin: 0;
  padding: 0;
}

.cursor-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

#inline-code-img {
  width: 1.2em;
  height: auto;
  opacity: 0;
  display: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

#inline-code-img.on {
  opacity: 1;
  display: flex;
}

.empty-space {
  opacity: 0;
  display: flex;
}

#toggle-empty-space {
  opacity: 0;
  display: flex;
}

.off {
  display: none !important;
}

#barely-space {
  opacity: 0;
  font-size: 0.5em;
  display: flex;
}

/* Heart rate monitor animations */

.heartbeat-button {
  position: relative;
  padding: 0.4em 1.4em;
  font-size: 1.6em;
  font-weight: bold;
  border: none;
  color: white;
  background: #7046E0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
  box-shadow: 0 4px 6px rgba(112, 70, 224, 0.5); /* Purple shaded box shadow */
  z-index: 2;
  width: 30%;
}

/* API key button spacing */

.api-key-button {
  position: absolute;
  background-color: #7046E0;
  border: none;
  color: white;
  padding: 0.3em 0.8em;
  font-size: 0.95em;
  font-weight: bold;
  border-radius: 4px;
}

.api-key-button.pattern2 {
  margin-top: 2.5em; /* Set distance from the top of the div */
  margin-left: 24.8em;
}

.api-key-button.pattern1 {
  margin-top: 0.9em; /* Set distance from the top of the div */
  margin-left: 19.2em;
}

.api-key-button.pattern0 {
  margin-top: 4em; /* Set distance from the top of the div */
  margin-left: 1.9em;
}

/* Discord CTA styling */
.discord-cta-div {
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color: rgba(114, 137, 218, 0.6);
  color: white;
  border: 3px solid rgba(88, 100, 242, 0.8);
  padding: 0em 1em;
  border-radius: 8px;
  margin-bottom: 1em;
  width: 50%;
  font-size: 1.1em;
}

.discord-logo {
  width: 60%;
  margin: 0em 0.25em;
  height: auto;
  border-radius: 8px;
  padding: 0;
}

.discord-cta-text {
  width: 900%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
  .lg\:hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
}