interactions:
- request:
    body: '{"session": {"end_timestamp": "TIMESTAMP", "end_state": "Indeterminate",
      "session_id": "SESSION_ID", "init_timestamp": "TIMESTAMP", "tags": [], "video":
      null, "end_state_reason": null, "host_env": {"SDK": {"AgentOps SDK Version":
      null}, "OS": {"OS": "Darwin"}}, "config": "", "jwt": "JWT_TOKEN", "_lock": "",
      "_end_session_lock": "", "token_cost": "", "_session_url": "", "event_counts":
      {"llms": 0, "tools": 0, "actions": 0, "errors": 0, "apis": 0}, "is_running":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/create_session
  response:
    body:
      string: '{"jwt": "REDACTED", "session_url": "https://app.agentops.ai/drilldown?session_id=2fc8be5b-2176-49e8-9969-49fb3c951700",
        "status": "Success"}'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "AGENT_ID", "name": "user_proxy"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      authorization:
      - REDACTED
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/create_agent
  response:
    body:
      string: '"Success"'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"session": {"end_timestamp": "TIMESTAMP", "end_state": "Indeterminate",
      "session_id": "SESSION_ID", "init_timestamp": "TIMESTAMP", "tags": [], "video":
      null, "end_state_reason": null, "host_env": {"SDK": {"AgentOps SDK Version":
      null}, "OS": {"OS": "Darwin"}}, "config": "", "jwt": "JWT_TOKEN", "_lock": "",
      "_end_session_lock": "", "token_cost": "", "_session_url": "", "event_counts":
      {"llms": 0, "tools": 0, "actions": 0, "errors": 0, "apis": 0}, "is_running":
      false, "_tracer_provider": "", "_otel_tracer": "", "_otel_exporter": ""}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      authorization:
      - REDACTED
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/update_session
  response:
    body:
      string: '{"session_url": "https://app.agentops.ai/drilldown?session_id=2fc8be5b-2176-49e8-9969-49fb3c951700",
        "status": "success", "token_cost": "0.00"}'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
version: 1
