interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/create_session
  response:
    body:
      string: '{"jwt":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uX2lkIjoiMTcwNjg5ZjAtZTI4MS00ODdjLTkzMTctOWExOTU3ZDc4OWJmIiwiZXhwIjoxNzM3MTQ2ODk1Ljc5OTY0fQ.K38gltvALNeeUckcFDPRfPaO3NOVzdbiShZF86xutTY","session_url":"https://app.agentops.ai/drilldown?session_id=170689f0-e281-487c-9317-9a1957d789bf","status":"Success"}'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      authorization:
      - REDACTED
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/create_agent
  response:
    body:
      string: '"Success"'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      authorization:
      - REDACTED
      x-agentops-api-key:
      - REDACTED
    method: POST
    uri: https://api.agentops.ai/v2/update_session
  response:
    body:
      string: '{"session_url":"https://app.agentops.ai/drilldown?session_id=170689f0-e281-487c-9317-9a1957d789bf","status":"success","token_cost":"0.00"}'
    headers:
      Content-Type:
      - application/json
      X-Railway-Request-Id:
      - REDACTED
    status:
      code: 200
      message: OK
version: 1
