name: Python Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.7,3.8,3.9,3.10,3.11,3.12]

    env:
      ENVIRONMENT: test

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11' # Use a default Python version for running tox
      - name: Install tox
        run: pip install tox
      - name: Run tests with tox
        run: tox