name: Python Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'agentops/**/*.py'
      - 'agentops/**/*.ipynb'
      - 'tests/**/*.py'
      - 'tests/**/*.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - 'agentops/**/*.py'
      - 'agentops/**/*.ipynb'
      - 'tests/**/*.py'
      - 'tests/**/*.ipynb'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    strategy:
      matrix:
        python-version: ["3.7","3.8","3.9","3.10","3.11","3.12"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: 'pip'
          python-version: '3.11'
      - name: Install tox
        run: pip install tox
      - name: Run tests with tox
        run: tox
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
